<%- include('./includes/header')%>
  <link rel="stylesheet" href="/main.css">

  </head>

  <body>
    <%- include('./includes/navigation') %>
      <div class="img">
        <img src="https://th.bing.com/th/id/R.c228a907a9b2efb1ffd626fcf07d56eb?rik=jBueIHgADFHtdQ&pid=ImgRaw&r=0"
          alt="ans">
      </div>

      <div class="about-section">
        <h1>About Us</h1>
      </div>

      <h2 style="text-align:center; margin-top: 15px;">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img
              src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/345847796_785030926371853_8244752429872522711_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=y-dTInJswp8AX8COPNw&_nc_ht=scontent.fhan3-3.fna&oh=00_AfD3jUNc6THeY1ehoiBt__l3N5AAj67jQwE_L2YymRNBxA&oe=64853B51"
              alt="thien" style="width:100%">
            <div class="container">
              <h2>Phạm Hồng Thiện</h2>
              <p class="title">Back - End Developer</p>
              <p class="describeText">10 
                Please</p>
                <p></p>
              <p>pht@example.com</p>
              <p><a href="/contactUs" class="contactbutton">Contact</a></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img
              src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/283007671_682801589673947_4564476608289552908_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=-RRwyQhrNr0AX-VJXZn&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfBX27P4VbTEFqOnITgWrE3BsFy0AevvRDNzjfecEC3gKA&oe=648418F9"
              alt="vi" style="width:100%">
            <div class="container">
              <h2>Lê Thị Vi</h2>
              <p class="title">Designer</p>
              <p class="describeText">10 
                Please</p>
                <p></p>
              <p>ltv@example.com</p>
              <p><a href="/contactUs" class="contactbutton">Contact</a></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img
              src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.6435-9/145404304_225275319280163_4101812874164236110_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yJ5_-KNE-ScAX8a-WLk&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfCv0tYMge7hTYb2UCY_wO9qramLgbh0cdn8pgoyr3Jz9g&oe=6487C6AF"
              alt="long" style="width:100%">
            <div class="container">
              <h2>Lê Văn Thành Long</h2>
              <p class="title">Front - End Developer</p>
              <p class="describeText">10 
                Please</p>
                <p></p>
              <p>lvtl@example.com</p>
              <p><a href="/contactUs" class="contactbutton">Contact</a></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img
              src="https://scontent.xx.fbcdn.net/v/t1.15752-9/345631564_130392376702698_7690665393422228702_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_ohc=_X1bLRmd_6UAX9mRmQd&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSayXy9RIu5i89gHKSNsl9ONDKWeuYc2jqw8nE1MNgKnA&oe=6487E79A"
              alt="nguyenducdu" style="width:100%">
            <div class="container">
              <h2>Nguyễn Đức Dự</h2>
              <p class="title">Front - End Developer</p>
              <p class="describeText">10 
                Please</p>
                <p></p>
              <p>ndd@example.com</p>
              <p><a href="/contactUs" class="contactbutton">Contact</a></p>
            </div>
          </div>
        </div>
      </div>

      <%- include('./includes/footer')%>